<% days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %>


<%= link_to "Aujourd'hui", params.permit(:week, :class, :day).merge(:week => @current_week.id, :class => @requested_class, :day => @current_day), class:"btn btn-primary" %>

<div class="btn-group" role="group" aria-label="Basic example">
	<% for i in 0..4 %>
		<% if i == @requested_day -1 %>
			<%= link_to days[i], params.permit(:week, :class, :day).merge(:week => @requested_week, :class => @requested_class, :day => i + 1), class:"btn btn-primary active" %>
		<% else %>
			<%= link_to days[i], params.permit(:week, :class, :day).merge(:week => @requested_week, :class => @requested_class, :day => i + 1), class:"btn btn-primary" %>
		<% end %>
  	<% end %>
</div>