<div class="card">
  <div class="card-header">
    <h4>Modifier la branche</h4>
  </div>
  <div class="card-body">
    <%= render 'form', subject: @subject %>
  </div>
</div>

<br />
<%= link_to 'Voir', @subject %>
<br/>
<%= link_to 'Retour', subjects_path %>
